// Part of ke file.

$img-width: 155px !default;
$img-height: 155px !default;

.vue-drag-uploader {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 5px 5px 15px;
  border: 2px dashed #999;
  border-radius: 4px;
  cursor: pointer;
  color: #999;
  min-height: 250px;

  &--readonly {
    border: 1px solid #999;
  }

  &--ondrag {
    border: 2px solid #666;
    background-color: rgba(0, 0, 0, .05);
    color: #666;
  }

  &__draggable-wrapper,
  &__transition-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: $img-width;
    height: $img-height;
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 3px;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .add-button {
    display: flex;
    align-items: center;
    text-align: center;
    transition: background-color .5s;

    &:hover {
      background-color: rgba(0, 0, 0, .05);
    }

    &__body {
      margin: 0 auto;
    }

    &__icon {
      margin-bottom: 10px;
    }

    &__text {
      font-size: 14px;
    }
  }

  .preview-img {
    position: relative;
    cursor: pointer;

    > * {
      position: absolute;
    }

    &:hover {
      .error-message {
        &__message {
          display: block;
          padding: 10px;
        }
      }
    }

    &__body {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: transparent no-repeat center center;
      background-size: cover;
    }

    &__title {
      margin: 0 auto;
    }

    &__overlay {
      display: flex;
      align-items: center;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, .35);
      opacity: 0;
      transition: opacity .5s;

      &:hover {
        opacity: 1;
      }
    }

    &__remove-icon {
      position: absolute;
      top: 5px;
      right: 5px;
      color: white;
      opacity: .75;
      transition: opacity .5s;

      &:hover {
        opacity: 1;
      }
    }

    &__progress {
      height: 3px;
      background-color: rgba(255, 255, 255, .5);
      width: 100%;
      bottom: 0;
      left: 0;
    }

    &__progress-bar {
      background-color: #007bff;
      width: 0;
      height: 100%;
    }
  }

  .error-message {
    width: 100%;
    background-color: #dc3545;
    color: white;
    font-size: 14px;
    word-break: break-all;
    top: calc(100% - 26px);
    min-height: 26px;

    &__notice {
      display: inline-block;
      padding: 3px;
      text-align: center;
      width: 100%;
    }

    &__message {
      display: none;
    }
  }
}
