// Part of earth file.

.l-page-container {
  // Full container
  .container-full {
    > .row {
      margin-left: 0;
      margin-right: 0;

      > [class*=col-] {
        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  // Section
  .l-section {
    // Title
    &__header {
      margin-bottom: 50px;

      h1, h2, h3, h4, h5, h6 {
        margin: 0;
      }
    }

    // SubTitle
    &__subtitle {
      //color: #999;
      margin: 0;
    }

    &__container {
      display: flex;
    }

    &__body {
      //display: flex;
    }

    &__content {
      //
    }
  }

  // Column
  .l-column {
    display: flex;

    &__body {

    }

    &__content {

    }
  }

  // BG
  .l-bg-container {
    z-index: 1;
    position: relative;
  }

  .l-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .l-bg-content {
    position: relative;
  }
}

// Addons
.c-addon--feature {
  .c-feature-icon {
    text-align: center;
  }

  .c-feature-icon__wrapper,
  .c-feature-icon__wrapper > span {
    display: inline-block;
  }
}
