// Part of earth file.

.l-page-container {
  // Section
  .l-section {
    // Title
    &__header {
      margin-bottom: 50px;

      h1, h2, h3, h4, h5, h6 {
        margin: 0;
      }
    }

    // SubTitle
    &__subtitle {
      //color: #999;
      margin: 0;
    }
  }

  // Column
  .l-column {
    &__body {
      display: flex;
    }
  }

  // BG
  .l-bg-container {
    z-index: 1;
    position: relative;
  }

  .l-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .l-bg-content {
    position: relative;
  }
}
